doctype html
html(lang="en")
    head
        title Contact | Girl vs Bull
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="Girl vs Bull: A podcast experience like no other")
        meta(name="author" content="Janelle Poiselle & Cat Allen")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400&amp;subset=latin")
        link(rel="stylesheet" href="css/bootstrap/bootstrap-theme.css")
        link(rel="icon" href="favicon.ico")
    body
        .container-fluid


            nav.navbar.navbar-expand-lg.navbar-light
                a.navbar-brand(href="index.html") Girl vs Bull
                button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navigations-08", aria-controls="navigations-08", aria-expanded="false", aria-label="Toggle navigation")
                    span.navbar-toggler-icon
                .collapse.navbar-collapse#navigations-08
                    ul.navbar-nav.ml-auto
                        li.nav-item
                            a.nav-link(href="about.html") About
                        li.nav-item
                            a.nav-link(href="episodes.html") Episodes
                        li.nav-item
                            a.nav-link(href="exclusives.html") Exclusives
                        li.nav-item
                            a.nav-link.active(href="contact.html") Collaborate
                                span.sr-only (current)
                    a.btn.btn-outline-primary.mt-2.mt-md-0.ml-lg-3(href="#") Listen Now

            section.py-5
                .container.text-center
                    a(href="#")
                        img(src="https://bootstrapshuffle.com/placeholder/pictures/bg_square.svg?primary=e83e8c", height="100", alt="")
                    h2.my-4 Let's Collaborate
                    p Interested in being on our podcast? Have a great idea? Or maybe you just want to chat? Drop us a message in the form below and we will be in touch.

            section.py-5
                h2.mb-5.text-center Contact the Girl vs Bull Team
                .container
                    .row
                        .col-md-8.mx-auto
                            form
                                .d-flex.flex-column.flex-md-row
                                    label.sr-only(for="input1-contacts-05") Name
                                    input.form-control.mb-3.mr-5#input1-contacts-05(type="text", placeholder="Name")
                                    label.sr-only(for="input2-contacts-05") Email
                                    input.form-control.mb-3#input2-contacts-05(type="email", placeholder="Email")
                                label.sr-only(for="textarea-contacts-05") Write something...
                                textarea.form-control.mb-3#textarea-contacts-05(rows="4", placeholder="Write something...")
                                button.btn.btn-primary.px-5.d-block.mx-auto(type="submit") Submit
                        .col-12.text-center.mt-4
                            p Or just email us at
                            a(href="mailto:girlvsbull@protonmail.com") girlvsbull@protonmail.com

            footer.py-3
                .container
                    .row.d-flex.justify-content-between.flex-column.flex-lg-row.align-items-center
                        ul.nav.justify-content-center.my-3.my-lg-0
                            li.nav-item
                                a.nav-link(href="index.html") Home
                            li.nav-item
                                a.nav-link(href="about.html") About
                            li.nav-item
                                a.nav-link(href="episodes.html") Episodes
                            li.nav-item
                                a.nav-link(href="exclusives.html") Exclusives
                            li.nav-item
                                a.nav-link(href="contact.html") Collaborate

                        .d-flex.flex-wrap.align-items-center.justify-content-center.justify-content-lg-start
                            a(href="#").btn.btn-primary.d-flex.m-2.m-sm-0.mr-sm-3
                                img.mr-2(src="placeholder/icons/apple.svg", alt="")
                                .d-flex.flex-column.text-white
                                    small.m-0 Listen on
                                    span.m-0.font-weight-bold Apple Podcasts
                            a(href="#").btn.btn-primary.d-flex.m-2.m-sm-0
                                img.mr-2(src="placeholder/icons/google.svg", alt="")
                                .d-flex.flex-column.text-white
                                    small.m-0 Get it on
                                    span.m-0.font-weight-bold Google Podcasts

                        .w-100.border-top.my-3

                    .d-flex.flex-column.flex-sm-row.align-items-center.justify-content-sm-between
                        p.mb-0.small.text-muted © 2020 Girl vs Bull. All right reserved.
                        a(href="#") Terms and conditions

        script(src="js/jquery/jquery.min.js")
        script(src="js/popper/popper.min.js")
        script(src="js/bootstrap/bootstrap.min.js")
