doctype html
html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="Girl vs Bull: A podcast experience like no other")
        meta(name="author" content="Janelle Poiselle & Cat Allen")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400&amp;subset=latin")
        link(rel="stylesheet" href="css/bootstrap/bootstrap-theme.css")
        link(rel="icon" href="favicon.ico")
    body
        .container-fluid


            nav.navbar.navbar-expand-lg.navbar-light
                a.navbar-brand(href="index.html") Girl vs Bull
                button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navigations-08", aria-controls="navigations-08", aria-expanded="false", aria-label="Toggle navigation")
                    span.navbar-toggler-icon
                .collapse.navbar-collapse#navigations-08
                    ul.navbar-nav.ml-auto
                        li.nav-item
                            a.nav-link(href="about.html") About
                        li.nav-item
                            a.nav-link.active(href="episodes.html") Episodes
                                span.sr-only (current)
                        li.nav-item
                            a.nav-link(href="exclsives.html") Exclusives
                        li.nav-item
                            a.nav-link(href="contact.html") Collaborate
                    a.btn.btn-outline-primary.mt-2.mt-md-0.ml-lg-3(href="#") Listen Now

            section.py-5
                .container
                    h2.mb-4 Featured Episodes
                    .row
                        .col-lg-7
                            .card.mb-4
                                .card-body
                                    .row
                                        .col-md-5.mb-4.mb-md-0
                                            a(href="#")
                                                img.img-fluid(src="https://bootstrapshuffle.com/placeholder/pictures/bg_4-3.svg?primary=e83e8c", alt="")
                                        .col-md-7
                                            a.badge.badge-primary.px-2(href="#") Relationships
                                            h5.card-title.my-2
                                                a(href="#") Doing the Right Thing
                                            p.small.text-muted Lorem ipsum dolor sit amet, consectetur adipiscing elit. gravida augue, a eleifend dolor. Sed sagittis ut odio vitae porta. Mauris et sapien lacinia, ornare nulla sit amet, tincidunt turpis. Integer fringilla sem a odio condimentum, vel ullamcorper nulla sagittis.
                                            a(href="#") Listen Now
                            .card.mb-4
                                .card-body
                                    .row
                                        .col-md-5.mb-4.mb-md-0
                                            a(href="#")
                                                img.img-fluid(src="https://bootstrapshuffle.com/placeholder/pictures/bg_4-3.svg?primary=e83e8c", alt="")
                                        .col-md-7
                                            a.badge.badge-primary.px-2(href="#") Workplace
                                            h5.card-title.my-2
                                                a(href="#") How to Spot a Toxic Work Culture
                                            p.small.text-muted Lorem ipsum dolor sit amet, consectetur adipiscing elit. gravida augue, a eleifend dolor. Sed sagittis ut odio vitae porta. Mauris et sapien lacinia, ornare nulla sit amet, tincidunt turpis. Integer fringilla sem a odio condimentum, vel ullamcorper nulla sagittis.
                                            a(href="#") Read more
                        .col-lg-5
                            .card
                                a(href="#")
                                    img.card-img-top(src="https://bootstrapshuffle.com/placeholder/pictures/bg_16-9.svg?primary=e83e8c", alt="")
                                .card-body
                                    a.badge.badge-primary.px-2(href="#") Workplace
                                    h5.card-title.my-2
                                        a(href="#") Learning from Failures
                                    p.small.text-muted Lorem ipsum dolor sit amet, consectetur adipiscing elit. gravida augue, a eleifend dolor. Sed sagittis ut odio vitae porta. Mauris et sapien lacinia, ornare nulla sit amet, tincidunt turpis. Integer fringilla sem a odio condimentum, vel ullamcorper nulla sagittis.
                                    a(href="#") Read more



            section.py-5
                .container
                    .row.mb-4.text-center.text-lg-left
                        .col-lg-6
                            h2 Episodes by Category
                        .col-lg-6
                            p.lead Lorem ipsum dolor sit amet, consectetur adipiscing elit. gravida augue, a eleifend dolor. Sed sagittis ut odio vitae porta. Mauris et sapien lacinia, ornare nulla sit amet, tincidunt turpis. Integer fringilla sem a odio condimentum, vel ullamcorper nulla sagittis.
                    .card-deck
                        .card.border-0.mb-4
                            .py-3.d-flex.justify-content-between
                                h5.mb-0 Workplace
                                a.mb-0(href="#") See all
                            a(href="#")
                                img.card-img-top(src="https://bootstrapshuffle.com/placeholder/pictures/bg_4-3.svg?primary=e83e8c", alt="")
                            .card-body.text-muted.small
                                a.d-flex.px-1.py-3.justify-content-between.border-bottom(href="#")
                                    span How to spot a toxic culture
                                    span &rsaquo;
                                a.d-flex.px-1.py-3.justify-content-between.border-bottom(href="#")
                                    span Nailing your first interview
                                    span &rsaquo;
                                a.d-flex.px-1.py-3.justify-content-between.border-bottom(href="#")
                                    span Why women are integral to success
                                    span &rsaquo;
                        .card.border-0.mb-4
                            .py-3.d-flex.justify-content-between
                                h5.mb-0 Relationships
                                a.mb-0(href="#") See all
                            a(href="#")
                                img.card-img-top(src="https://bootstrapshuffle.com/placeholder/pictures/bg_4-3.svg?primary=e83e8c", alt="")
                            .card-body.text-muted.small
                                a.d-flex.px-1.py-3.justify-content-between.border-bottom(href="#")
                                    span No means no
                                    span &rsaquo;
                                a.d-flex.px-1.py-3.justify-content-between.border-bottom(href="#")
                                    span Worst first dates
                                    span &rsaquo;
                                a.d-flex.px-1.py-3.justify-content-between.border-bottom(href="#")
                                    span How dating is different in 2020
                                    span &rsaquo;
                        .card.border-0.mb-4
                            .py-3.d-flex.justify-content-between
                                h5.mb-0 Current Events
                                a.mb-0(href="#") See all
                            a(href="#")
                                img.card-img-top(src="https://bootstrapshuffle.com/placeholder/pictures/bg_4-3.svg?primary=e83e8c", alt="")
                            .card-body.text-muted.small
                                a.d-flex.px-1.py-3.justify-content-between.border-bottom(href="#")
                                    span Pandemic hysteria
                                    span &rsaquo;
                                a.d-flex.px-1.py-3.justify-content-between.border-bottom(href="#")
                                    span Tech trends - April 2020
                                    span &rsaquo;
                                a.d-flex.px-1.py-3.justify-content-between.border-bottom(href="#")
                                    span Being fiscally responsible as a millennial
                                    span &rsaquo;


            footer.py-3
                .container
                    .row.d-flex.justify-content-between.flex-column.flex-lg-row.align-items-center
                        ul.nav.justify-content-center.my-3.my-lg-0
                            li.nav-item
                                a.nav-link(href="index.html") Home
                            li.nav-item
                                a.nav-link(href="about.html") About
                            li.nav-item
                                a.nav-link(href="episodes.html") Episodes
                            li.nav-item
                                a.nav-link(href="exclusives.html") Exclusives
                            li.nav-item
                                a.nav-link(href="contact.html") Collaborate

                        .d-flex.flex-wrap.align-items-center.justify-content-center.justify-content-lg-start
                            a(href="#").btn.btn-primary.d-flex.m-2.m-sm-0.mr-sm-3
                                img.mr-2(src="placeholder/icons/apple.svg", alt="")
                                .d-flex.flex-column.text-white
                                    small.m-0 Download on the
                                    span.m-0.font-weight-bold Apple Store
                            a(href="#").btn.btn-primary.d-flex.m-2.m-sm-0
                                img.mr-2(src="placeholder/icons/google.svg", alt="")
                                .d-flex.flex-column.text-white
                                    small.m-0 Get it on
                                    span.m-0.font-weight-bold Google Play

                        .w-100.border-top.my-3

                    .d-flex.flex-column.flex-sm-row.align-items-center.justify-content-sm-between
                        p.mb-0.small.text-muted © 2020 Girl vs Bull. All right reserved.
                        a(href="#") Terms and conditions

        script(src="js/jquery/jquery.min.js")
        script(src="js/popper/popper.min.js")
        script(src="js/bootstrap/bootstrap.min.js")
